In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
from scipy import stats

In [3]:
df = pd.read_csv('AveragesDaily.csv', sep =';', header=0, index_col=0)

In [4]:
df.describe()

,PM2.5,PM10,SO2,NO2,NO,Nox,O3,CO,Wind.Speed,Wind.direction,Temperature,Humidity,Pressure
count,3652.000000,3652.000000,3652.000000,3652.000000,3652.000000,3652.000000,3652.000000,3652.000000,3652.000000,3652.000000,3652.000000,3652.000000,3652.000000
mean,23.114175,46.883238,11.052370,13.861017,10.318732,23.701167,27.709427,9.659670,2.182425,173.412582,16.071882,63.203188,844.575290
std,13.563029,28.292762,5.315205,6.139741,7.901103,12.818088,7.450728,62.183766,0.734620,41.580538,3.808428,14.339956,3.360956
min,1.391483,2.059708,1.361603,2.626025,0.774194,5.165669,9.599887,0.013208,0.594833,56.022167,2.434842,17.199667,762.019437
25%,13.693427,26.639799,7.502995,9.531878,5.533200,14.996418,22.730916,0.254512,1.650515,140.202628,13.052645,53.658203,842.558801
50%,19.165502,38.224838,9.958130,12.380730,7.626405,19.718022,26.976597,0.541080,2.067103,175.843363,16.806121,65.041352,844.338721
75%,29.272716,61.579020,13.305939,16.851480,11.835661,28.081712,31.788202,2.240086,2.594726,205.791656,18.923276,73.801294,846.577590
max,105.656977,217.917603,40.919633,55.559742,69.119122,96.504478,62.948261,988.249312,6.144667,294.070060,26.495167,99.464000,856.973602

In [5]:
df.isnull().sum()

PM2.5             0
PM10              0
SO2               0
NO2               0
NO                0
Nox               0
O3                0
CO                0
Wind.Speed        0
Wind.direction    0
Temperature       0
Humidity          0
Pressure          0
Rain              0
dtype: int64

In [6]:
limit = 40
column_name = 'PM2.5'
count = (df[column_name] > limit).sum()
print('Count of values greater than 40 in Column B : ', count)

Count of values greater than 40 in Column B :  427

In [7]:
limit = 15
column_name = 'PM2.5'
column = df[column_name]
count = column[column > limit].count()
print(count)

2482

In [8]:
limit = 75
column_name = 'PM10'
count = (df[column_name] > limit).sum()
print('Count of values greater than 75 in Column B : ', count)

Count of values greater than 75 in Column B :  578

In [9]:
limit = 45
column_name = 'PM10'
column = df[column_name]
count = column[column > limit].count()
print(count)

1499

In [10]:
limit = 44
column_name = 'SO2'
count = (df[column_name] > limit).sum()
print('Count of values greater than 125 in Column B : ', count)

Count of values greater than 125 in Column B :  0

In [11]:
limit = 14
column_name = 'SO2'
column = df[column_name]
count = column[column > limit].count()
print(count)

782

In [12]:
limit = 92
column_name = 'NO2'
count = (df[column_name] > limit).sum()
print('Count of values greater than 125 in Column B : ', count)

Count of values greater than 125 in Column B :  0

In [13]:
limit = 12
column_name = 'NO2'
column = df[column_name]
count = column[column > limit].count()
print(count)

1912

In [ ]:
df = pd.read_csv('ErmeloDaily.csv', sep =';', header=0, index_col=0)

In [ ]:
df.describe()

In [ ]:
limit = 40
column_name = 'PM2.5'
count = (df[column_name] > limit).sum()
print('Count of values greater than 40 in Column B : ', count)

In [ ]:
limit = 15
column_name = 'PM2.5'
column = df[column_name]
count = column[column > limit].count()
print(count)

In [ ]:
limit = 75
column_name = 'PM10'
count = (df[column_name] > limit).sum()
print('Count of values greater than 75 in Column B : ', count)

In [ ]:
limit = 45
column_name = 'PM10'
column = df[column_name]
count = column[column > limit].count()
print(count)

In [ ]:
limit = 44
column_name = 'SO2'
count = (df[column_name] > limit).sum()
print('Count of values greater than 125 in Column B : ', count)

In [ ]:
limit = 14
column_name = 'SO2'
column = df[column_name]
count = column[column > limit].count()
print(count)

In [ ]:
limit = 92
column_name = 'NO2'
count = (df[column_name] > limit).sum()
print('Count of values greater than 125 in Column B : ', count)

In [ ]:
limit = 12
column_name = 'NO2'
column = df[column_name]
count = column[column > limit].count()
print(count)

In [ ]:
df = pd.read_csv('HendrinaDaily.csv', sep =';', header=0, index_col=0)

In [ ]:
df.describe()

In [ ]:
limit = 40
column_name = 'PM2.5'
count = (df[column_name] > limit).sum()
print('Count of values greater than 40 in Column B : ', count)

In [ ]:
limit = 15
column_name = 'PM2.5'
column = df[column_name]
count = column[column > limit].count()
print(count)

In [ ]:
limit = 75
column_name = 'PM10'
count = (df[column_name] > limit).sum()
print('Count of values greater than 75 in Column B : ', count)

In [ ]:
limit = 45
column_name = 'PM10'
column = df[column_name]
count = column[column > limit].count()
print(count)

In [ ]:
limit = 44
column_name = 'SO2'
count = (df[column_name] > limit).sum()
print('Count of values greater than 125 in Column B : ', count)

In [ ]:
limit = 14
column_name = 'SO2'
column = df[column_name]
count = column[column > limit].count()
print(count)

In [ ]:
limit = 92
column_name = 'NO2'
count = (df[column_name] > limit).sum()
print('Count of values greater than 125 in Column B : ', count)

In [ ]:
limit = 12
column_name = 'NO2'
column = df[column_name]
count = column[column > limit].count()
print(count)

In [ ]:
df = pd.read_csv('MiddelburgDaily.csv', sep =';', header=0, index_col=0)

In [ ]:
df.describe()

In [ ]:
limit = 40
column_name = 'PM2.5'
count = (df[column_name] > limit).sum()
print('Count of values greater than 40 in Column B : ', count)

In [ ]:
limit = 15
column_name = 'PM2.5'
column = df[column_name]
count = column[column > limit].count()
print(count)

In [ ]:
limit = 75
column_name = 'PM10'
count = (df[column_name] > limit).sum()
print('Count of values greater than 75 in Column B : ', count)

In [ ]:
limit = 45
column_name = 'PM10'
column = df[column_name]
count = column[column > limit].count()
print(count)

In [ ]:
limit = 44
column_name = 'SO2'
count = (df[column_name] > limit).sum()
print('Count of values greater than 125 in Column B : ', count)

In [ ]:
limit = 14
column_name = 'SO2'
column = df[column_name]
count = column[column > limit].count()
print(count)

In [ ]:
limit = 92
column_name = 'NO2'
count = (df[column_name] > limit).sum()
print('Count of values greater than 125 in Column B : ', count)

In [ ]:
limit = 12
column_name = 'NO2'
column = df[column_name]
count = column[column > limit].count()
print(count)

In [ ]:
df = pd.read_csv('SecundaDaily.csv', sep =';', header=0, index_col=0)

In [ ]:
df.describe()

In [ ]:
limit = 40
column_name = 'PM2.5'
count = (df[column_name] > limit).sum()
print('Count of values greater than 40 in Column B : ', count)

In [ ]:
limit = 15
column_name = 'PM2.5'
column = df[column_name]
count = column[column > limit].count()
print(count)

In [ ]:
limit = 75
column_name = 'PM10'
count = (df[column_name] > limit).sum()
print('Count of values greater than 75 in Column B : ', count)

In [ ]:
limit = 45
column_name = 'PM10'
column = df[column_name]
count = column[column > limit].count()
print(count)

In [ ]:
limit = 44
column_name = 'SO2'
count = (df[column_name] > limit).sum()
print('Count of values greater than 125 in Column B : ', count)

In [ ]:
limit = 14
column_name = 'SO2'
column = df[column_name]
count = column[column > limit].count()
print(count)

In [ ]:
limit = 92
column_name = 'NO2'
count = (df[column_name] > limit).sum()
print('Count of values greater than 125 in Column B : ', count)

In [ ]:
limit = 12
column_name = 'NO2'
column = df[column_name]
count = column[column > limit].count()
print(count)