In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('SecundaIMMIPM10.csv', sep =';', header=0, index_col=0)
values = df.values

In [3]:
df.dropna(how='all')

,Spm2.5,Sso2,Sno2,Sno,Snox,So3,Sco,Sws,Swd,Stemp,...,no,nox,o3,co,ws,wd,temp,relHum,pressure,Spm10
date,,,,,,,,,,,,,,,,,,,,,
2009/01/01 1:00,9.570000,3.400,15.990,1.230,2.540,27.990,0.040,1.09,212.50,14.78,...,2.873,6.030,38.085,0.047,4.700000,177.660000,17.15,84.13,850.43,12.020000
2009/01/01 2:00,4.890000,3.450,15.990,1.070,2.690,27.990,0.030,1.59,127.76,14.15,...,2.495,14.537,33.463,0.040,4.390000,194.340000,15.47,94.83,851.77,5.650000
2009/01/01 3:00,11.130000,3.130,15.990,1.610,8.110,27.990,0.040,3.01,69.95,14.03,...,3.312,19.920,22.502,0.243,3.600000,145.360000,15.15,92.28,851.90,12.070000
2009/01/01 4:00,9.180000,4.410,15.990,1.430,10.280,27.990,0.030,3.16,59.17,14.33,...,2.037,3.883,43.183,0.222,4.870000,112.730000,15.05,86.45,850.07,9.860000
2009/01/01 5:00,6.780000,3.820,15.990,1.470,7.020,27.990,0.020,2.25,74.02,15.02,...,2.593,6.248,40.870,0.063,2.700000,99.150000,15.87,79.83,849.10,7.820000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018/12/31 18:00,10.436561,0.433,7.178,1.050,8.227,6.091,0.069,0.80,158.70,18.76,...,3.900,26.000,12.425,0.514,5.694402,49.909358,18.48,83.11,855.46,10.746815
2018/12/31 19:00,10.436571,0.397,7.475,1.025,8.500,6.458,0.084,1.34,187.85,18.30,...,16.530,52.624,2.485,0.599,5.694414,49.907897,18.70,82.77,855.77,10.746797
2018/12/31 20:00,10.436581,0.407,7.979,1.064,9.043,7.140,0.098,3.11,147.08,17.57,...,4.482,30.110,6.188,0.521,5.694425,49.906436,18.68,82.22,855.83,10.746779
2018/12/31 21:00,10.436590,0.355,7.876,1.017,8.893,6.351,0.097,2.15,87.35,17.24,...,2.382,19.151,9.891,0.481,5.694436,49.904975,18.20,84.35,855.74,10.746761
2018/12/31 22:00,10.436600,0.350,8.440,1.241,9.680,5.822,0.092,1.72,111.39,17.01,...,2.422,15.601,11.471,0.632,5.694448,49.903514,17.72,91.45,855.38,10.746743

In [4]:
X = values[:,:-1]

In [5]:
Y = values[:,-1]

In [6]:
from sklearn.feature_selection import mutual_info_regression
mi = mutual_info_regression(X, Y)
mi /= np.max(mi)

In [7]:
print(mi)

[1.         0.14314356 0.33141362 0.23843598 0.24893865 0.20366003
 0.31136958 0.21089188 0.12439541 0.07487585 0.04697894 0.16887814
 0.19318399 0.17027397 0.1275006  0.11552062 0.13204299 0.12838643
 0.10404505 0.16071234 0.13947605 0.085172   0.06463185 0.04323854
 0.09052956 0.39198833 0.38455534 0.11105957 0.09218127 0.09302566
 0.07935186 0.09021033 0.11819869 0.06646039 0.02817188 0.04520931
 0.0491721  0.12549276 0.20924605 0.22747015 0.11906558 0.17056451
 0.17295386 0.15441113 0.09428208 0.15299573 0.07759685 0.0650822
 0.04868585 0.06239599 0.07294956 0.18434331 0.17685574 0.08986455
 0.10806282 0.12645205 0.11959811 0.05034975 0.0952884  0.05515336
 0.02923128 0.04458567 0.03047427 0.05768325]

In [ ]:
def plot_mi_scores(scores):
    scores = scores.sort_values(ascending=True)
    width = np.arange(len(scores))
    ticks = list(scores.index)
    plt.barh(width, scores)
    plt.yticks(width, ticks)
    plt.title("eMalahleni PM2.5 Mutual Information Scores")


plt.figure(dpi=100, figsize=(8, 5))
plot_mi_scores(mi_scores)

In [ ]:
mi.to_csv('MiePM2.5.csv', sep =';')

In [ ]:
sns.lmplot(x = "PM10", y = "PM2.5", hue = "CO", data = df);

In [ ]:
code credit: https://www.kaggle.com/code/ryanholbrook/mutual-information/tutorial